scripts/n8n-quiz-workflow.json
{
  "name": "Quiz Reels — Aprovação WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quiz-ready",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Quiz Ready",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"message\":\"Recebido! Enviando {{$json.reelCount}} reels pro WhatsApp.\"}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reels",
        "options": {}
      },
      "id": "split-reels",
      "name": "Split Reels",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/{{$env.ZAPI_INSTANCE_ID}}/token/{{$env.ZAPI_TOKEN}}/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{$env.ZAPI_CLIENT_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"5511971167821\",\n  \"video\": \"{{$json.url}}\",\n  \"caption\": \"🎬 Quiz Reel {{$json.reel}}/{{$('Webhook: Quiz Ready').item.json.reelCount}}\\n\\nHook: {{$json.hook}}\\n\\nCenas:\\n{{$json.scenes.map(s => '• ' + s.en + ' → blank: ' + s.blankWord).join('\\n')}}\\n\\n✅ Responda OK pra aprovar ou ❌ pra refazer\"\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Z-API: Send Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-between",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/{{$env.ZAPI_INSTANCE_ID}}/token/{{$env.ZAPI_TOKEN}}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{$env.ZAPI_CLIENT_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"5511971167821\",\n  \"message\": \"📊 Batch {{$('Webhook: Quiz Ready').item.json.batchId}}\\n\\n{{$('Webhook: Quiz Ready').item.json.reelCount}} reels prontos!\\nCusto total: ~${{($('Webhook: Quiz Ready').item.json.reelCount * 0.027).toFixed(2)}}\\n\\nBaixa direto no WhatsApp e posta! 🚀\"\n}",
        "options": {}
      },
      "id": "send-summary",
      "name": "Z-API: Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Webhook: Quiz Ready": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "Split Reels", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Reels": {
      "main": [
        [
          { "node": "Z-API: Send Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "Z-API: Send Video": {
      "main": [
        [
          { "node": "Wait 3s", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          { "node": "Z-API: Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
